{% extends "blog/base.html" %}
{% block content %}
{% if view.kwargs.username == user.username %}
<h2 class='mb-3 user-post'>My Posts
</h2>
{% else %}
<h2 class='mb-3 user-post'>Posts by {{ view.kwargs.username }}
  {% endif %}
</h2>
  	{% for post in posts %}
    {% if post.author.username ==  view.kwargs.username  %}
	<article class="media  posts_of_user">
    
  <div class="media-body">
   
    <div class="article-metadata">
      <img class="rounded-circle article-img  profile-img" src="{{ post.author.profile.image.url }}">
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"F d ,Y"}}</small>
    {% if view.kwargs.username == user.username %}
     <div class="buttons">
        <a class= 'btn btn-secondary btn-sm mt-1 mb-1 update-btn' href="{% url 'post-update' post.id %}">Update</a>
        <a class= 'btn btn-danger btn-sm mt-1 mb-1' href="{% url 'post-delete' post.id %}">Delete</a>
      </div>
      {% endif %}
    <h2><a class="article-title" href="/post_detail/{{post.id}}">{{ post.title }}</a></h2></div>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>	
  {% endif %}
	{% endfor %} 

  {% endblock content %}
